
#box {
  height: 90vh;
  width: 400px;
}

#box #rightButtons {

  position: absolute;
  right: 10px;
  bottom: 10px;

  display: flex;
  flex-flow: row nowrap;
}

#box button
{
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: #fff;
  background: #023;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
}
#box #signInButton{
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: #fff;
  background: #023;
  text-decoration: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
}

#box a{
  font-size: 12px;
  color: #0fffff;
  text-decoration: none;
}

#box a:hover{
  color: #a00;
  cursor: pointer;
}


#footer {
  height: 50px;
  position: fixed;
  bottom: 10%;
  margin: 0px 25px;
  color: red;
  flex-flow: row-reverse nowrap;
  justify-content: flex-start;

}
