
@import url("https://fonts.googleapis.com/css?family=Inconsolata:700");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#center {
  height: 100vh;
  padding: 24px;
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  overflow: auto;
}

#search-title{
  color: #fcb;
  margin: 10px auto;
  text-align: center;
}



#middle {
  height: 100px;
  position: relative;
  border-top: 1px white solid;
}

#middle h1{
    margin: 3vh auto;
}

.searchBox {
  position: absolute;
  align-self: flex-end;
  right: 0;
  top: 0;
  width: 300px;
  height: 100px;
}
.searchBox .search {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 80px;
  height: 80px;
  background: crimson;
  border-radius: 50%;
  transition: all 0.8s;
  z-index: 4;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
}
.searchBox .search:hover {
  cursor: pointer;
}
.searchBox .search::before {
  content: "";
  position: absolute;
  margin: auto;
  top: 22px;
  right: 0;
  bottom: 0;
  left: 22px;
  width: 12px;
  height: 2px;
  background: white;
  transform: rotate(45deg);
  transition: all 1s;
}
.searchBox .search::after {
  content: "";
  position: absolute;
  margin: auto;
  top: -5px;
  right: 0;
  bottom: 0;
  left: -5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid white;
  transition: all .5s;
}
.searchBox input {
  font-family: 'Inconsolata', monospace;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 50px;
  outline: none;
  border: none;
  background: crimson;
  color: white;
  text-shadow: 0 0 10px crimson;
  padding: 0 80px 0 20px;
  border-radius: 30px;
  box-shadow: 0 0 25px 0 crimson, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
  transition: all 1s;
  opacity: 0;
  z-index: 5;
  font-weight: bolder;
  letter-spacing: 0.1em;
}
.searchBox input:hover {
  cursor: pointer;
}
.searchBox input:focus {
  width: 200px;
  opacity: 1;
  cursor: text;
}
.searchBox input:focus ~ .search {
  right: -200px;
  background: #151515;
  z-index: 6;
}
.searchBox input:focus ~ .search::before {
  top: 0;
  left: 0;
  width: 25px;
}
.searchBox input:focus ~ .search::after {
  top: 0;
  left: 0;
  width: 25px;
  height: 2px;
  border: none;
  background: white;
  border-radius: 0%;
  transform: rotate(-45deg);

}
.searchBox input::placeholder {
  color: white;
  opacity: 0.5;
  font-weight: bolder;
}


img {
  width: 200px;
  height: 200px;
  border-radius: 10vmin;
}
.row {
  font: "cursive";
  display: flex;
  width: 50vw;
  flex-flow: column nowrap;

}

.row-container:hover {
  transform: scale(1.1);
  background: #fcb;
  cursor: pointer;
}

.row-container {
  margin: 10px;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-flow: row;
  background: crimson;
  border-radius: 2vmin;
}

.row-info {
  margin-left: 6vmin;
  width: 100%;
}

.row-info h1 {
  /* font-size: 10vw; */
}

.row-info h3 {
  margin-left: 4vmin;
}


.row-info h5 {
  margin-left: 8vmin;
}

.row-info a {
  width: 100%;
  background: #fcb;
  border-radius: 10vmin;
}
#footer h1, h6{
  color: #fcb;
}



#footer {
  margin: 12px;
}
